<div class="container-fluid">
        <div class="site-mobile-menu">
                <div class="site-mobile-menu-header">
                  <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                  </div>
                </div>
                <div class="site-mobile-menu-body"></div>
              </div>
              <header class="site-navbar container py-0 dark hide-web show--mobile" role="banner">
                <!-- <div class="container"> -->
                  <div class="row align-items-center hide-web">
                    
                    <div class="col-12 hide-logo-mobile col-xl-2 col-sm-12">
                      <h1 class="mb-0 site-logo"><a href="index.html" class="text-black mb-0"><img src="assets/classyads/images/Merch Logo.png"  class="img-fluid rounded img-responsive"></a></h1>
                    </div>
                    <div class="col-12 col-md-10 d-none d-xl-block">
                      <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul  class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                          <li class="active"><a class="text-white" href="#">Home</a></li>
                          <li *ngIf="loggedIn" class="ml-xl-3 login"><a href="/merchant/profile" class="cta"><h5 class="orangeText boldText cursor-pointer">My Business Proflie </h5></a></li>
                         <li><a class="text-white" href="#">Tailoring</a> </li>
                          <li><a class="text-white"href="#">Fashion</a> </li>
                          <li><a class="text-white" href="#">AutoMobile</a> </li>
                          <li><a class="text-white" href="#">Computing</a> </li>
                          <li><a class="text-white" href="#">Manufacturing</a> </li>
                          <li><a class="text-white" href="#">Food</a></li>
                          <li><a class="text-white" href="#"><span class="pl-xl-4"></span>About</a></li>
                          <li><a class="text-white" href="#"><span class="pl-xl-4"></span>Contact</a></li>
                        </ul>
                      </nav>
                    </div>
                    
                  </div>
                  <div class="d-inline-block d-xl-none ml-auto py-3 col-12" style="position: relative; top: 3px;">
                    <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
                  </div>
                  <div class="row show-logo-mobile">
                    <h1 class="mb-0 site-logo"><a href="index.html" class="text-black mb-0"><img src="assets/classyads/images/Merch Logo.png"  class="img-fluid rounded mobile-logo-size img-responsive"></a></h1>
                  </div>
                  <div class="row hide-logo-mobile">
                    <div class="col-md-2 hide-logo-mobile logo">
                      <h1 class="mb-0 site-logo"><a href="index.html" class="text-black mb-0"><img src="assets/classyads/images/Merch Logo.png"  class="img-fluid rounded img-responsive"></a></h1>
                    </div>
                    <div class="col-md-2 Mlinks">
                      <ul  class="topGMenu">
                        <li><a href="#">Tailoring</a> |</li>
                        <li><a href="#">Fashion</a> |</li>
                        <li><a href="#">AutoMobile</a> |</li>
                        <li><a href="#">Computing</a> |</li>
                        <li><a href="#">Manufacturing</a> |</li>
                        <li><a href="#">Food</a></li>
                      </ul>
                    </div>
                    <div class="col-md-2 rightLinks">
                      <h5 class="orangeText boldText ">My Business  Proflie </h5>
                    </div>
                    <div class="col-md-2 rightProfile">
                      <div class="profLeft">
                        <h5 class="orangeText boldText">Hi {{ merchantProfile.firstName }} !</h5>
                        <h6 class="whiteText text-align-left cursor-pointer" (click)="logOut()" >Log Out</h6>
                      </div>
                      <div class="profRight">
                        <img src="assets/classyads/images/Profile_A5_Ellipse_2_pattern.png" alt="" srcset="">
                      </div>
                    </div>
                  </div>
                  <!-- </div> -->
                </header>
                <div class="row topBg dark hide-logo-mobile">
                  
                  <div class="col-md-2 hide-logo-mobile logo">
                    <h1 class="mb-0 site-logo"><a href="index.html" class="text-black mb-0"><img src="assets/classyads/images/Merch Logo.png"  class="img-fluid rounded img-responsive"></a></h1>
                  </div>
                  <div class="col-md-2 Mlinks offset-4">
                    <!-- <ul  class="topGMenu">
                      <li><a href="#">Tailoring</a> |</li>
                      <li><a href="#">Fashion</a> |</li>
                      <li><a href="#">AutoMobile</a> |</li>
                      <li><a href="#">Computing</a> |</li>
                      <li><a href="#">Manufacturing</a> |</li>
                      <li><a href="#">Food</a></li>
                    </ul> -->
                  </div>
                  <div class="col-md-2 rightLinks">
                    <h5 class="orangeText boldText">My Business  Proflie </h5>
                  </div>
                  <div class="col-md-2 rightProfile">
                    <div class="profLeft">
                      <h5 class="orangeText boldText">Hi {{ merchantProfile.firstName }} !</h5>
                      <h6 class="whiteText text-align-left cursor-pointer" (click)="logOut()" >Log Out</h6>
                    </div>
                    <div class="profRight">
                      <img src="assets/classyads/images/Profile_A5_Ellipse_2_pattern.png" alt="" srcset="">
                    </div>
                  </div>
                  
                </div>
    <div class="pageContentx">
        <div class="row bizDetails">
            <div class="col-md-8 groupImgDet">
                <div class="row">
                    <div class="col col-md-4 groupImgeBtn elevate-50">
                        <img class="leftBoxImg" src="../assets/classyads/images/Shop_Image_A5_Rectangle_13_pattern.png" />
                    </div> 
                    <div class="col col-md-8 bizdetails-text">
                        <div class="ver-badge">
                            <h1 class="pgTitle orangeText">
                                {{businessDetails.businessName}}
                            </h1>
                            <img src="assets/classyads/images/Verification Icon.png" alt="verification-badge" srcset="">
                        </div>
                        
                        <h5 class="mobile-txt-size">
                            {{businessDetails.address}}
                        </h5>
                        <h5 class="mobile-txt-size">
                            {{businessDetails.market + ', ' + businessDetails.state }}
                        </h5>
                        <h6 class="mobile-txt-size" *ngIf="showContact">
                            +234 903 4567 9888
                        </h6>
                        <div class="preview-contacts" (click)="viewContact()">
                            <p>click to show contact info</p>
                        </div>
                        <div class="row con-icons" *ngIf="showContact">
                            <a href="tel:+23490345679888" class="col-md-2"><img src="assets/classyads/images/call-icon.jpg" class="square-width" alt="call-icon"></a>
                            <a href="" class="col-md-2"><img src="assets/classyads/images/whatsapp.png" class="square-width" alt="call-icon"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 agm-vert elevate-50 ">
                <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
        </div>
        <div class="row contentGroup">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link tab-bg tabLinks active" id="biz-tab" data-toggle="tab" href="#biz" role="tab" aria-controls="home" aria-selected="true">Business Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab-bg tabLinks" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="profile" aria-selected="false">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab-bg tabLinks" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="contact" aria-selected="false">Review</a>
                    </li>
                    <li class="nav-item write-rev">
                        <a class="nav-link tabLinks" id="write-review-tab" data-toggle="tab" href="#write-review" role="tab" aria-controls="contact" aria-selected="false">Write a Review</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane blue-tab fade show active" id="biz" role="tabpanel" aria-labelledby="biz-tab">
                        <div class="row bizdetail-block">
                            <div class="col-md-5 detail-info">
                                <div>
                                    <h3 class="mobile-txt-header ">General Info</h3>
                                    <p class="mobile-txt-size">
                                        {{businessDetails.description}}
                                    </p>
                                </div>
                                <div class="work-time">
                                     <h3 class="mobile-txt-header ">Working Hours</h3>
                                     <p class="mobile-txt-size">{{businessDetails.openingHour}} - {{businessDetails.openingHour}}</p>
                                </div>
                               
                            </div>    
                            <div class="col-md-7 details-list">
                               <div class="ind-details">
                                   <div class="col-md-5">
                                       <h5 class="mobile-txt-header ">Products</h5>
                                   </div>
                                   <div class="col-md-7">
                                        <h6 class="mobile-txt-size" *ngIf="businessDetails.productCategories">
                                           <span *ngFor="let product of businessDetails.productCategories">{{product}} |</span>
                                        </h6>
                                   </div>
                               </div>
                               <div class="ind-details">
                                   <div class="col-md-5">
                                       <h5 class="mobile-txt-header " >
                                           Phone Number
                                        </h5>
                                   </div>
                                   <div class="col-md-7">
                                        <h6  class="mobile-txt-size" *ngIf="showContact">
                                            {{businessDetails.phoneNumber}}
                                        </h6>
                                   </div>
                               </div>
                               <div class="ind-details">
                                   <div class="col-md-5">
                                       <h5 class="mobile-txt-header ">
                                            WhatsApp Number
                                        </h5>
                                   </div>
                                   <div class="col-md-7">
                                        <h6 class="mobile-txt-size" *ngIf="showContact">
                                           {{businessDetails.whatsappNumber}}
                                        </h6>
                                   </div>
                               </div>
                               <div class="ind-details">
                                   <div class="col-md-5">
                                       <h5 class="mobile-txt-header ">
                                            Categories
                                        </h5>
                                   </div>
                                   <div class="col-md-7">
                                        <h6 class="mobile-txt-size">
                                           <span *ngFor="let category of businessDetails.businessTypeNames">{{category}} |</span>
                                        </h6>
                                   </div>
                               </div>
                               <div class="ind-details">
                                   <div class="col-md-5">
                                       <h5 class="mobile-txt-header ">
                                            Payment Method
                                        </h5>
                                   </div>
                                   <div class="col-md-7">
                                        <h6 class="mobile-txt-size">
                                            {{businessDetails.paymentMethodNames}}
                                        </h6>
                                   </div>
                               </div>
                               <div class="ind-details">
                                   <div class="col-md-5">
                                       <h5 class="mobile-txt-header ">
                                            Website
                                        </h5>
                                   </div>
                                   <div class="col-md-7">
                                        <h6 class="mobile-txt-size">
                                           {{businessDetails.website}}
                                        </h6>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane blue-tab fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">Gallery</div>
                    <div class="tab-pane blue-tab fade" id="review" role="tabpanel" aria-labelledby="review-tab">Review</div>
                    <div class="tab-pane blue-tab fade" id="write-review" role="tabpanel" aria-labelledby="write-review-tab">Review</div>
                </div>
            </div>
        </div>
        <div class="row gallery-sect">
            <h4 class="col-md-12 pInfoLay pInfoTxt reco-text">
                Recommended Stores
            </h4>
            <div class="row gal-Images reco-store ">
                <div *ngFor="let business of this.bussinesses" class="col-md-3 col-6">
                    <div class="cardi" >
                        <img src="assets/classyads/images/Shop_Image_A5_Rectangle_31_pattern.png" class="card-img-top" alt="store-image">
                        <div class="cardi-body">
                            <h4 class="m-reco-hd"> <a [routerLink]="['/browser/shop-info/', business.businessId]">{{ business.businessName}}</a></h4>
                            <!-- <p>
                                {{business.description}}
                            </p> -->
                            <p class="m-reco-txt"> <span *ngFor="let cat of business.businessTypeNames">{{ cat }} |</span> {{business.state}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="row foot dark">
        <div class="col footBox">
            <h5>About us </h5>
            <h6> Company </h6>
            <h6>Vision</h6>
            <h6>Team </h6>
            <h6>Our Blog </h6>
            <h6>Contact us </h6>
        </div>
        <div class="col footBox">
            <h5>How it works </h5>
            <h6> Registration </h6>
            <h6>Upload files</h6>
            <h6>Boast Ads </h6>
        </div>
        <div class="col footBox">
            <h5>Legal </h5>
            <h6>Content Policy</h6>
            <h6>Privacy Policy</h6>
            <h6>Indemity & Abiration </h6>
        </div>
        <div class="col footBox">
            <h5>Payment</h5>
            <div class="pay-badge-parent">
                <div class="pay-badges give-way-50">
                    <img src="assets/classyads/images/Mastercard_Logo_A5_Rectangle_5_pattern.png" alt="mastercard-logo" srcset="">
                    <img src="assets/classyads/images/Visa_Logo_A5_Rectangle_7_pattern.png" alt="mastercard-logo" srcset="">
                </div>
                <div class="pay-badges">
                    <img src="assets/classyads/images/Verver_Logo_A5_Rectangle_9_pattern.png" alt="mastercard-logo" srcset="">
                    <img src="assets/classyads/images/Bank Transfer.png" alt="mastercard-logo" srcset="">
                </div>
            </div>
        </div>
        <div class="col footBox">
            <h5>Support</h5>
            <h6>support@spaces.com </h6>
            <h6>Accessibility</h6>
            <h6>Safety tips </h6>
            <h6>FAQs </h6>
            <h6>Site Map</h6>
        </div>
    </footer>
</div>
