<div class="container-fluid">
  <div class="col topBg dark">
    <div class="logo">
      <h1 class="mb-0 site-logo"><a href="index.html" class="text-black mb-0"><img src="assets/classyads/images/Merch Logo.png"  class="img-fluid rounded img-responsive"></a></h1>
    </div>
    <div class="Mlinks">
      <!-- <ul  class="site-menu js-clone-nav mr-auto d-none d-lg-block">
        <li class="active"><a style="color:#fff" href="#">Home</a></li>
        <li><a style="color:#fff" href="#"><span class="border-left pl-xl-4"></span>About</a></li>
        <li><a style="color:#fff" href="#"><span class="border-left pl-xl-4"></span>Contact</a></li>
        <li class="ml-xl-3 login"><a style="color:#fff" href="/account/login"><span class="border-left pl-xl-4"></span>Log In</a></li>
        <li> <a href="/account/register" class="cta"><span class="bg-primary text-white rounded">+ Register</span></a></li>
      </ul> -->
    </div>
    <div class="rightLinks"></div>
  </div>
  <div class="pageContent">
    <h1 class="pgTitle orangeText">
      Business Profile
    </h1>
    <div class="row contentGroup">
      <div class="col-3">
        <h4 class="storeName">
          Tunde Ghadofi Store
        </h4>
        <div class="groupImgeBtn">
          <img src="../assets/classyads/images/Shop_Image_A5_Rectangle_13_pattern.png" />
          <div>
            <button type="button" class="btn btn-orange btn-lg btn-full orangeBackg">
              Upload Image
            </button>
          </div>
        </div>  
      </div>
      <div class="col-8">  
        <div>
          <h4 class="storeName 80blackText">
            Business Details
          </h4>
          <textarea name="businessDetails" class="infoTextArea" id="businessDetails" cols="100" rows="5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse 
          </textarea>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h4 class="storeName 80blackText">
              Working Hours
            </h4>
            <div class="row">
              <div class="col-md-4">
                <input type="text" class="infoInput form-control"/>
              </div>
              <div class="col-md-4">
                <input type="text" class="infoInput form-control"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row prfInfos">
          <div class="col-md-4">
              <h4>Products</h4>
          </div>
          <div class="col-md-4">
              <input type="text" class="infoInput form-control"/>
          </div>
        </div>
        <div class="row prfInfos">
          <div class="col-md-4">
              <h4>Phone Number</h4>
          </div>
          <div class="col-md-4">
              <input type="text" class="infoInput form-control"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
