
<div class="auth-wrapper Market_BG_2" >


 	<div class="row">
          
         	 <div class="col-md-6 col-xl-2 col-sm-12">
            
				<a href="/"  class="text-black mb-0"><img style="margin-top:70px;padding-left:90px" src="assets/classyads/images/Merch Logo.png"  class="img-fluid rounded img-responsive"></a>

			</div>
          
	</div>


    <div class="auth-box on-sidebar bg-white">

	 

        <div style="padding:1px 60px" class="row" id="loginform" >



           <div class="col-md-12" data-aos="fade" data-aos-delay="400">

 				
									<form action="#" id="loginform" class="p-5 form-horizontal bg-white">
										<div class="row form-group">
											
											<div class="col-md-12">
											<h3><strong>Personal Details</strong></h3>
											</div>
										</div>
										
										<div class="row form-group">
											
											<div class="col-md-12">

		   		
											<label class="text-black" for="firstName">First Name</label> 
											<input type="text" id="firstName" class="form-control">
											</div>
										</div>

										<div class="row form-group">
											
											<div class="col-md-12">
											<label class="text-black" for="firstName">Last Name</label> 
											<input type="text" id="lastName" class="form-control">
											</div>
										</div>

										<div class="row form-group">
											
											<div class="col-md-12">
											<label class="text-black" for="phoneNumber">Phone Number</label> 
											<input type="text" id="phoneNumber" class="form-control">
											</div>
										</div>


										<div class="row form-group">
											
											<div class="col-md-12">
											<label class="text-black" for="email">Email Address</label> 
											<input type="email" id="email" class="form-control">
											</div>
										</div>

										<div class="row form-group">
											<div class="col-lg-6 col-md-12">
												<label class="text-black" for="password">Password</label> 
												<input type="password" id="password" class="form-control">
											</div>
											<div class="col-lg-6 col-md-12">
												<label class="text-black" for="confirmPassword">Re-type Password</label> 
												<input type="password" id="confirmPassword" class="form-control">
											</div>
										</div>

<br>
										<div class="row form-group">
											
											<div class="col-md-12">
												
												<a href="/"  class="btn btn-lg btn-primary float-right text-white rounded mb-0"><img src="assets/classyads/images/Next_Button.png"  class="img-fluid rounded img-responsive"> Next</a>
												
											</div>
										</div>

						
									</form>
								
			</div>
        </div>
        
    
	 </div>





</div>

