
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">About Us</h2>
                <ul class="list-unstyled">
                  <li><a href="#">Company</a></li>
                  <li><a href="#">Vision</a></li>
                  <li><a href="#">Team</a></li>
				  <li><a href="#">Our Blog</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>

			  <div class="col-md-3">
                <h2 class="footer-heading mb-4">How it works</h2>
                 <ul class="list-unstyled">
                  <li><a href="#">Registration</a></li>
                  <li><a href="#">Upload files</a></li>
                  <li><a href="#">Booast Ads</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Legal</h2>
                <ul class="list-unstyled">
                  <li><a href="#">Terms of use</a></li>
                  <li><a href="#">Content Policy</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Idemnity & Abitration</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
				<hr>
				<h2 class="footer-heading mb-4">Payments</h2>
				 <div class="row">
					<div class="col-md-6">
						<img src="assets/classyads/images/Mastercard_Logo_A0_Rectangle_55_pattern.png"  class="img-fluid rounded">
					</div>
					<div class="col-md-6">
						<img src="assets/classyads/images/Visa_Logo_A0_Rectangle_57_pattern.png"  class="img-fluid rounded">
					</div>
				 </div>
				 
				 <div class="row">
					<div class="col-md-6">
						<img src="assets/classyads/images/Verver_Logo_A0_Rectangle_59_pattern.png"  class="img-fluid rounded">
					</div>
					<div class="col-md-6">
					
					</div>
				 </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
           <h2 class="footer-heading mb-4">Support</h2>
                <ul class="list-unstyled">
                  <li><a href="#">support@space.com</a></li>
                  <li><a href="#">Accessibility</a></li>
                  <li><a href="#">Safty Tips</a></li>
                  <li><a href="#">FAQs</a></li>
				  <li><a href="#">Site Map</a></li>
                </ul>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <div class="border-top pt-5 mt-5 ">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Powered By <a href="https://www.rensource.energy" target="_blank" >Rensource Tech</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>